<style>
  .product-device {
  position: absolute;
  right: 10%;
  bottom: -30%;
  width: 300px;
  height: 540px;
  background-color: #333;
  border-radius: 21px;
  transform: rotate(30deg);
  }
  .product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  background-color: rgba(255, 255, 255, .1);
  border-radius: 5px;
  }
  .product-device-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #e5e5e5;
  }
  .bg-info-transparent {
  background: linear-gradient(180deg, rgba(0, 123, 255, 0.5) 0%, rgba(0, 123, 255, 0.5) 100%);
  }
</style>
  <div class="container">

    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-info-transparent">
      <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="display-4 fw-bold text-white">EventNXT</h1>
        <p class="lead fw-bold text-white">Unlock exclusive rewards and discounts by joining EventNXT's Referral Rewards Program, where every friend you invite brings you one step closer to your next unforgettable experience!</p>
        <%= link_to 'Login / Register', new_user_session_path, class: 'btn btn-primary fw-bold' %>
        <%= form_tag '/oauth/authorize', method: :post do %>
            <%= button_tag "Sign in with Events 360", type: :submit, data: { turbo: "false" }, class: 'btn btn-success fw-bold', style: "margin-top: 10%" %>
        <% end %>
      </div>
      <div class="product-device shadow-sm d-none d-md-block"></div>
      <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
    </div>

    <div class="container-fluid col-xxl-8 px-0 py-5">
      <div class="row flex-lg-row-reverse align-items-center g-5 py-2">
        <div class="col-10 col-sm-12 col-lg-7">
          <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="https://cdn.pixabay.com/photo/2017/04/10/16/55/live-music-2219036__480.jpg" class="d-block w-100 img-fluid" alt="...">
              </div>
              <div class="carousel-item">
                <img src="https://cdn.pixabay.com/photo/2020/01/15/17/38/fireworks-4768501__480.jpg" class="d-block w-100 img-fluid" alt="...">
              </div>
              <div class="carousel-item">
                <img src="https://cdn.pixabay.com/photo/2020/06/08/16/19/woman-5275027__480.jpg" class="d-block w-100 img-fluid" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
        <div class="col-lg-5">
          <p class="lead ">At <strong>EventNXT</strong>, we understand that planning an event is a complex task. Managing guest lists, ticket sales, and RSVPs can be overwhelming and stressful. That's why we have created a comprehensive tool that automates the guest list management process and streamlines ticket sales, so you can focus on planning the perfect event.
          </p>
          <!--<a href="#login"><button type="button" class="btn btn-primary btn-lg px-4 gap-3">Login / Register</button></a>-->
        </div>
      </div>
    </div>
    <hr class="my-2" />
    <section class="mb-5" id="features">
      <h1 class="text-center display-5 fw-bold lh-1 mb-5 mt-5">Features</h1>
      <div class="row">
        <div class="col-lg-3 col-md-6 col-12 text-center">
          <i class="bi-calendar-event text-primary" style="font-size: 40px;"></i>
          <h3 class="my-4">Guest List Management</h3>
          <p class="mb-md-3 lead fs-6">Automates the management of guest lists, making it easier to keep track of RSVPs and ticket sales.
          </p>
        </div>
        <div class="col-lg-3 col-md-6 col-12 text-center">
          <i class="bi-clipboard-data text-primary" style="font-size: 40px;"></i>
          <h3 class="my-4">Easy RSVP Tracking</h3>
          <p class="mb-md-3 lead fs-6">Automates the tracking of RSVPs with guests, reducing the need for manual communication and streamlining the process.</p>
        </div>
        <div class="col-lg-3 col-md-6 col-12 text-center">
          <i class="bi-cloud-download text-primary" style="font-size: 40px;"></i>
          <h3 class="my-4">Box Office Integration</h3>
          <p class="mb-md-3 lead fs-6">Integrates with box office software to automatically accumulate ticket sales data in a spreadsheet, reducing manual data entry and streamlining the process.</p>
        </div>
        <div class="col-lg-3 col-md-6 col-12 text-center">
          <i class="bi bi-trophy text-primary" style="font-size: 40px;"></i>
          <h3 class="my-4">Referral Rewards</h3>
          <p class="mb-md-3 lead fs-6">Incorporates a unique way to manage referral reward programs, encouraging guests to spread the word about events and increase ticket sales.</p>
        </div>
      </div>
    </section>
    <hr class="my-5" />
  </div>
  <!--<h1 class="text-center display-5 fw-bold lh-1 mb-5" id="login">Login</h1>-->

