<%# app/views/tickets/new.html.erb %>
<div>
  <h1>Purchase Tickets</h1>
  <p>To buy tickets for the event, please visit the following link:</p>
  <%= link_to 'Purchase Tickets', 'https://fashionxt.com/', class: 'btn btn-primary', target: '_blank' %>
</div>

  
  