<%= form_with url: tickets_path, method: :post, id: "ticket-form" do |form| %>
    <div>
      <%= form.label :ticket_quantity, "Number of Tickets:" %>
      <%= form.number_field :ticket_quantity, in: 1..10 %>
    </div>
  
    <div>
      <%= form.submit "Submit" %>
    </div>
  <% end %>
  
  