<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body style=" background-color: white;">
    <table align="center" border="0" cellpadding="0" cellspacing="0"
           width="1200" style="border:2px solid black">
        <tbody>
            <tr>
                <td align="center">
                    <table align="center" border="0" cellpadding="0"
                           cellspacing="0" class="col-550" width="1200">
                        <tbody>
                            <tr>
                                <td align="center" style="background-color: #ECC5C0;
                                           height: 50px;">
   
                                    <a href="#" style="text-decoration: none;">
                                        <p style="color:white;
                                                  font-weight:bold; font-size: 22px">
                                            FASHIONNXT
                                        </p>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr style="height: 100px;">
                <td align="center" style="border: none;
                          
                           padding-right: 80px;padding-left:60px">
   
                    <div id="img"><img src='{{event.image.url}}' alt='Event image' title='Event Image' style="max-width: 100%;  
                      height: 300px; width: 400px; border: 1px solid #ddd; border-radius: 4px; padding: 5px"></div>
                </td>
            </tr>
   
            <tr style="display: inline-block;">
                <td style="height: 100px;
                           padding: 40px;
                           border: none;">
                     
                    <p class="data"
                       style="text-align: justify-all;
                              align-items: center; 
                              font-size: 15px;
                              font-family: Comic Sans MS, Comic Sans, cursive;
                              padding-bottom: 12px;
                              color: black">
                      Hi,
                     <br>
                      Please send your friends an invitation to FASHIONNXT event {{event.title}} by entering their email in the below referral link. You will be receivng rewards if any of your friends purchase tickets to the event.</br>
                    <br>
                    <p>Following are the event details.</p>
                    </p>
                    <div class="ticket">
                      <p style="color: black"><b><strong>Event date: </strong>{{event.datetime}}</b></p>
                      <p style="color: black"><strong>About Event:</strong> {{event.description}}</p>
                      <p style="color: black"><strong>{{event.address}}</p>
                  </div>  
                  <p>
                    <br>
                      <a href='{{refer_url}}'
                         style="text-decoration: none; 
                                color:black; 
                                border: 2px solid #b94c4c; 
                                padding: 10px 30px;
                                font-weight: bold;"> 
                         Referral Link
                    </a>
                  </p>
                <p style="color: black; font-family: Comic Sans MS, Comic Sans, cursive; font-size: 15px;">
                      <br>
                      Looking forward to seeing you there!
                </p>
              </div>
                </td>
            </tr>     
  </body>
</html>
