<div data-controller='guest dynamic' data-action='guest:complete_set_expiry->dynamic#reload'>
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#invite-expiry">
    Set Invite Expiry
  </button>
  <div class='modal fade' id='invite-expiry' tabindex='-1' aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Set Expiry</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id='form-expiry' data-guest-target='expiry'>
            <input type='hidden' type='number' name='event_id' value=<%= @event_id %>>
            <input type='hidden' class='form-control' id='set-expiry-to' type='email' name='recipients[]'>
            <div class='form-floating mb-2'>
                <input class='form-control' type='datetime-local' id='datetime', name='expiry_datetime'>
                <label for="datetime">Expiry Date:</label>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" type='submit' form='form-expiry'
              data-bs-dismiss="modal" data-action='guest#setRSVPExpiry'>Set</button>
        </div>
      </div>
    </div>
  </div>
</div>