<head>
<%= csrf_meta_tags %>
</head>

<style>
  #form-div, #referral{
    
    text-align: center;
  }

  .ticket {
            text-align: center;
            border: 3px solid black;
            margin: 50px;
    }

  #file-button{
    margin-left: 20%;
  }

  body {

  background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(https://www.teahub.io/photos/full/197-1977791_portland-wallpapers-hd-portland-oregon-city-view.jpg);
  background-repeat: no-repeat; 
  background-position: center;
  background-attachment: fixed; 
  webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:100%;
  width:100%; 
  
}

section{
  padding: 40px;
  padding-bottom: 100vh;
}

.display-6, h2, h3, h4, input, label{
  color: white;
  text-align: center;
}

div {
  align-items: center;
}

p {
  color: black;
  display: table-row;
  text-align: center;
}

label{
  display: table-cell;
}

input {
  color: white; 
  background-color: transparent; 
  border: 2px solid white; 
  border-radius: 2px; 
  padding: 5px;
  font-size: 16px;
  display: table-cell;
}

form{
  display: table;
  margin-left: 25%
}

.button{
  color: white; 
  background-color: transparent; 
  border: 2px solid white; 
  border-radius: 2px; 
  padding: 5px;
}

.button:hover {
  opacity: 0.5;
}

#rsvp-contents{
  text-align: center; 
  padding-top: 10px; 
  padding-bottom: 20px; 
  background-color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  padding: 10px;
  border: 3px solid white;
  color: white;
}

#rsvp-button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  padding: 20px;
  font-size: 20px;
  text-decoration: none;
  color: white;
  background-color: black;
}

.level-contents-toggle{
text-align: center;
}

#rsvp-form{
  color: black;
}

.level-box{
  margin-right: 5px;
}

.capacity-box{
  margin-right: 5px;
}

.ticket {
        text-align: center;
        border: 3px solid black;
        margin: 50px;
}

#referral-button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    padding: 20px;
    font-size: 20px;
    text-decoration: none;
    color: white;
    background-color: black;
}

.level-contents-toggle{
  text-align: center;
}

#referral-contents-toggle{
  display: none; 
  text-align: center; 
  padding-top: 10px; 
  padding-bottom: 20px; 
  background-color: #e6ccff;
  color: black; 
  border-radius: 10px;
  padding: 10px;
}

</style>

<body>
<section>


<script>
  
  //JS toggles RSVP Form visibility
  function toggle_referral() {
  var button_name = document.getElementById("referral-prepper");
  var x = document.getElementById("referral-contents-toggle");
  if (x.style.display == "none") {
    button_name.innerHTML = "Close Referral Reward Template";
    x.style.display = "block";
  } else {
    button_name.innerHTML = "Open Referral Reward Template";
    button_name.style.background = "lightgreen";
    x.style.display = "none";
  }
}

function refresh()
{
  // or $('#myform')[0] with jQuery
  $("#reward-msg").load(location.href + " #reward-msg");
  
}

</script>

<h4>Event Editor</h4>

<div id="rsvp-contents">
  <form id="rsvp-form" method='post' action='/events/<%= @event.id %>'> <!-- redirects to the correct place -->
  <input type="hidden" name="_method" value="patch"> <!-- unfortunate hardcoding here due to using this form, but fine -->
  <p>
    <label for="user_id">User ID(Temporary):</label>&nbsp<input type='number' id='user_id' name='user_id'><br><br>
  </p>
  <p>
    <label for="title">Event Title:</label>&nbsp<input type='text' id='title' name='title'><br><br>
  </p>
  <p>
    <label for="address">Event Address:</label>&nbsp<input type='text' id='address' name='address'><br><br> <!-- https://github.com/kristianmandrup/gmaps-autocomplete-rails link for GMaps integration - might be too old for use -->
  </p>
  <p>
    <label for="description">Event Description:</label>&nbsp<input type='text' id='description' name='description'><br><br>
  </p>
  <p>
    <label for="datetime">Event Date:</label>&nbsp<input type='datetime-local' id='datetime', name='datetime'><br><br>
  </p>
    <input type="hidden" id="last_modified" name="last_modified" value= <%= Time.now %> >
    <!--<label for=":image">File to upload</label><%= file_field_tag(:image) %><br><br> Image us not working currently-->
    <button type="submit" value="submit" class="button">Edit Event</button>
  </form>
</div>