<style>
h2 
{
  background-color: #80ced6;
}
</style>
  <h2>HURRY UP!!! BOOK YOUR TICKETS</h2>
  <br><br> 

<div id='book' data-controller='book'
    data-book-url-value='/api/v1/events/<%= @event_id %>/guests/<%= @token %>/tickets'
    data-book-eventid-value=<%= @event_id %> data-book-guestid-value=<%= @token %>
    data-book-limit-value=10 data-book-offset-value=0>

  <p><h4>Enter the number of tickets that you would like to book in each seating level:</h4></p><br>

  <div data-book-target='sum'>
      <input type='hidden' name='id' data-nxt-guest_id>
      <input type='hidden' name='accept' value=1><br>

      <b>No. of tickets:</b>&ensp;<input type='number' name='guestcommitted' min=0 data-nxt-guestcommitted>
      <span>(maximum tickets: <span data-nxt-sum></span>)</span><br><br></span><span id="error"></span>

    <br>
  </div> <br><br>     


  <form id='form-book' data-action='book#sendTickets'>
    <button class='btn btn-outline-success mt-2' type='submit' form='form-book'
      data-book-target='submit'>Submit</button>
  </form>
</div>
