<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body style=" background-color: white;">
    <table align="center" border="0" cellpadding="0" cellspacing="0"
           width="1200" style="border:2px solid black">
        <tbody>
            <tr>
                <td align="center">
                    <table align="center" border="0" cellpadding="0"
                           cellspacing="0" class="col-550" width="1200">
                        <tbody>
                            <tr>
                                <td align="center" style="background-color: #ECC5C0;
                                           height: 50px;">
   
                                    <a href="#" style="text-decoration: none;">
                                        <p style="color:white;
                                                  font-weight:bold; font-size: 22px">
                                            FASHIONNXT
                                        </p>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr style="height: 100px;">
                <td align="center" style="border: none;
                          
                           padding-right: 80px;padding-left:60px">
   
                    <br><div id="img"><img src='https://tse2.mm.bing.net/th?id=OIP.j4yFY0dOOzeVkOetQ3Rz9QHaJD&pid=Api&P=0' alt='Event image' title='Event Image' style="max-width: 100%;  
                      height: 300px; width: 400px; border: 1px solid #ddd; border-radius: 4px; padding: 5px"></div></br>
                </td>
            </tr>
   
            <tr style="display: inline-block;">
                <td style="height: 100px;
                           padding: 40px;
                           border: none;">
                     
                    <p class="data"
                       style="text-align: justify-all;
                              align-items: center; 
                              font-size: 15px;
                              font-family: Comic Sans MS, Comic Sans, cursive;
                              padding-bottom: 12px;
                              color: black">
                      
                      Hi,
                    </p>
                      You have been referred to FashionNXT event. Please use the below link to purchase your tickets to the event before they run out.
                  <p>
                    <br>
                    <br>FASHIONNXT
                    <br>Invites you for {{event.title}}.</br>
                    <br>
                    <br><strong>TO FOLLOW:</strong></br>
                    </p>
                    <div class="ticket">
                     <!-- <div id="img"><img src='{{event.image.url}}' alt='Event image' title='Event Image' style="max-width: 100%;  
                        height: auto; width: auto"></div>-->
                      <p><b><strong>Event date: </strong>{{event.datetime}}</b></p>
                     <!-- <p><strong>Number of Tickets:</strong> {{event.tickets.to_s}}</p>-->
                      <p><strong>About Event:</strong> {{event.description}}</p>
                      <p><strong>{{event.address}}</p>
                      
                      
                  </div>  
                    <p>
                      <br>
                        <a href='{{purchase_url}}'
                           style="text-decoration: none; 
                                  color:black; 
                                  border: 2px solid #b94c4c; 
                                  padding: 10px 30px;
                                  font-weight: bold;"> 
                           Purchase link
                      </a>
                    </p>
                    <p style="color: black; font-family: Comic Sans MS, Comic Sans, cursive; font-size: 15px;">
                      <br>
                      Looking forward to seeing you there!
                    </p>
                     <!-- <a href='{{purchase_url}}'
                      style="text-decoration: none; 
                                color:black; 
                                border: 2px solid #b94c4c; 
                                padding: 10px 30px;
                                font-weight: bold;"> 
                         Purchase Link <%= @event %>
                    </a>
                    <!-- <%= button_tag "Preview Changes", :id => "thisone", :type => "button", :class => "btn btn-success btn-rounded", :onclick => "refresh()" %>
                    <a href='/api/v1/events/<%= @event_id %>/guests?download'><button class='btn btn-primary'>Purchase Tickets</button></a> 
                  </p>
                <p style="color: black; font-family: Comic Sans MS, Comic Sans, cursive; font-size: 15px;">
                      <br>
                      Looking forward to seeing you there! -->
                </p>
              </div>
                </td>
            </tr>     
  </body>
</html>
