<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
        <style>
    
        .ticket {
            text-align: center;
            border: 3px solid black;
            margin: 100px;
        }
        img {
            position: relative;
            background-repeat: no-repeat
            text-align: center;
            height: 300; 
            max-width: 100%
            display:block;
            border: 1px solid #ddd;
            border-radius: 4px;
            padding: 5px;
            width: 4000px;
        }
        table {
          border:2px solid black;
        }
        
        rsvp-button {
            -webkit-appearance: button;
            -moz-appearance: button;
            appearance: button;
            text-decoration: none; 
            color:black; 
            border: 2px solid #b94c4c; 
            padding: 10px 30px;
            font-weight: bold;
        }
        
    </style>
  </head>
  <body>

    <p>Hi <%= @guest.first_name %><%= @guest.last_name %>,</p>
    <br>
    <br>Your request to book <%= @guest.guestcommitted %> has been sent to the organizer.</br>
    <br>
    </p>
    <p>Thank you and have a great day!!</p><br>
  </body>
</html>