// Sassy
@import 'bootstrap';
@import 'welcome';

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
.paginate-button {
  margin: 5px;
  border: darkgray;
  border-style: solid;
}

.paginate-number{
  align-items: center;
  vertical-align: middle;
  justify-content: end;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

div.paleBlueRows {
    font-family: "Times New Roman", Times, serif;
    border: 1px solid #FFFFFF;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
  }
  .divTable.paleBlueRows .divTableCell, .divTable.paleBlueRows .divTableHead {
    border: 1px solid #FFFFFF;
    padding: 3px 2px;
  }
  .divTable.paleBlueRows .divTableBody .divTableCell {
    font-size: 13px;
  }
  .divTableBody .Add {
    background: #EEEEEE;
  }
  .divTable.paleBlueRows .divTableRow:nth-child(even) {
    background: #D0E4F5;
  }
  .divTable.paleBlueRows .divTableHeading {
    background: #0B6FA4;
    border-bottom: 5px solid #FFFFFF;
  }
  .divTable.paleBlueRows .divTableHeading .divTableHead {
    font-size: 17px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    border-left: 2px solid #FFFFFF;
  }
  .divTable.paleBlueRows .divTableHeading .divTableHead:first-child {
    border-left: none;
  }
  
  .paleBlueRows .tableFootStyle {
    font-size: 14px;
  }
  /* DivTable.com */
  .divTable{ display: table; }
  .divTableRow { display: table-row; }
  .divTableHeading { display: table-header-group;}
  .divTableCell, .divTableHead { display: table-cell;}
  .divTableHeading { display: table-header-group;}
  .divTableFoot { display: table-footer-group;}
  .divTableBody { display: table-row-group;}
