<div data-controller='email' data-email-eventid-value=<%= @event_id %>>
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-email-template" data-action='email#queryTemplates'>
    Email Template
  </button>
  <div class='modal fade' id='modal-email-template' tabindex='-1'>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modal-email-template-title">Create Email Template</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id='form-email' class='d-flex flex-row justify-content-between' data-email-target='template'>
            <div class='me-4'>
              <select class='form-select' name='id' size=5
                  data-email-target='select' data-action='change->email#loadTemplate'>
                <option value='' selected>New Template</option>
              </select>
            </div>
            <div class='flex-grow-1'>
              <div class='form-floating mb-2'>
                <input class='form-control' id='email-template-name' type='text' name='name' data-email-target='name'>
                <label for='email-template-name'>Template name</label>
              </div>
              <div class='form-floating mb-2'>
                <input class='form-control' id='email-template-subject' type='text' name='subject' data-email-target='subject'>
                <label for='email-template-subject'>Subject</label>
              </div>
              <div class='form-floating'>
                <textarea id='email-template-body' class='form-control h-100' name='body' data-email-target='body'></textarea>
                <label for='email-template-body'>Body</label>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer d-flex justify-content-between">
          <div>
            <button type="button" class="btn btn-danger" data-action='email#deleteTemplate'>Delete</button>
          </div>
          <div>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" type='submit' form='form-email'
                data-bs-dismiss="modal" data-action='email#sendTemplate'>Save</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>