<div class='modal fade' id='event-modal' tabindex='-1' aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Create event</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id='form-event' data-event-target='form' data-action='update#sendFromForm'>
          <input type='hidden' data-nxt-id>
          <div class='form-floating mb-2'>
            <input class='form-control' id='event-name' type='text' name='title'>
            <label for='event-name'>Name</label>
          </div>
          <div class='form-floating mb-2'>
            <input class='form-control' id='event-address' type='text' name='address'>
            <label for='event-address'>Address</label>
          </div>
          <div class='form-floating mb-2'>
            <textarea id='event-description' class='form-control h-100' name='description'></textarea>
            <label for='event-description'>Description</label>
          </div>
          <div class='form-floating mb-2'>
            <input class='form-control' id='event-datetime' type='datetime-local' name='datetime'>
            <label for='event-datetime'>Date and Time</label>
          </div>
          <label for='event-name'>Event Image</label>
          <div class='input-group mb-2'>
            <input class='form-control' id='event-image' type='file' name='image' accept='image/*'>
          </div>
          <label for='event-name'>Box Office Data</label>
          <div class='input-group mb-2'>
            <input class='form-control' id='event-box-office' type='file' name='box_office'
                accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button class="btn btn-primary" type='submit' form='form-event'
            data-bs-dismiss="modal">Create</button>
      </div>
    </div>
  </div>
</div>