<style>
#guest-add-fn_1, #guest-add-ln_1{
border:transparent;
width: 90px
}
    
#guest-disp{
  display: none;
  padding: 20px;
}

#guest-email{
  width: 80px
}

#guest-status, #guest-checkin{
  width: 20px
}

#guest-action{
  width: 30px;
}
</style>

<div id='guests' data-controller='guest update destroy'
    data-guest-url-value="/api/v1/events/<%= @event_id %>/guests"
    data-guest-seaturl-value="/api/v1/events/<%= @event_id %>/seats"
    data-update-url-value="/api/v1/events/<%= @event_id %>/guests"
    data-destroy-url-value="/api/v1/events/<%= @event_id %>/guests"
    data-guest-offset-value=0 data-guest-limit-value=10
    data-action='update:created->guest#query update:created->guest#resetAddGuest destroy:deleted->guest#query'>
  <template id='seat_levels'>
    <select data-guest-target='seat'></select>
  </template>
  <template id='allotments'>
    <div>
      <select class='seat_id guest-seat-alloc' style="background-color:#E8E8E8"></select>
      <input class='allotted' style="background-color:#E8E8E8" type='number'>
      <input class='committed' style="background-color:#E8E8E8" type='number'>
    </div>
  </template>
  <template data-guest-target='template'>
    <form class='row' data-guest-target='form' data-action='change->guest#updateForm' name='guest_display'>
      <div class='col-md-auto'><input class='form-check-input' type='checkbox' name='guest_selector' data-nxt-id data-destroy-target='destroy' data-update-target='update'></div>
<!--       <div class='col-md-1'><span data-nxt-first_name></span> <span data-nxt-last_name></span></div> -->
      <span class='col-md-1'><input id='guest-add-fn_1' class='form-control' type='text' name='first_name' data-nxt-first_name>
      <input id='guest-add-ln_1' class='form-control' type='text' name='last_name' data-nxt-last_name></span>
      <div class='col-md-1'><input id="guest-email" name="guest_email" type="text" data-nxt-email disabled></div>
      <div class='col-md-1'><input class='form-control' type='text' name='affiliation' data-nxt-affiliation></p></div>
      <div class='col-md-1'><input class='form-control' type='text' name='perks' data-nxt-perks></p></div>
      <div class='col-md-1'><input class='form-control' type='text' name='comments' data-nxt-comments></p></div>
<!--       <div class='col-md-1'><p data-nxt-added_by></p></div> -->
      <div class='col-md-1' style="background-color:#E8E8E8"><select class='form-select form-select-sm' name='seat_id' data-nxt-category data-guest-target='seat'></select></div>
      <div class='col-md-1' style="background-color:#E8E8E8"><input class='form-control' type='number' name='allotted' min=0 data-nxt-allotted disabled></div>
      <div class='col-md-1' style="background-color:#E8E8E8"><input class='form-control' type='number' name='committed' min=0 data-nxt-committed disabled></div>
      <div class='col-md-1'><p data-nxt-guestcommitted></p></div>
      <div class='col-md-1'>
        <i id= "guest-status" class='bi bi-calendar-event' data-nxt-invite_expiration data-guest-target='tooltip'></i>
        <i id= "guest-status" class='bi bi-envelope' data-nxt-emailed_at data-guest-target='tooltip'></i>
        <i id= "guest-status" class='bi bi-bookmark-check-fill' data-nxt-booked></i>
      </div>
      <!--<div class='col-md-1'><input id="guest-checkin" type='checkbox' name='checked' data-nxt-checked></div> -->
      <div class='col-md-1'>
        <div class="dropdown" id="guest-action">
          <button class='btn btn-secondary dropdown-toggle' type='button'
              data-bs-toggle='dropdown' aria-expanded='false'>
            Actions
          </button>
          <ul class='dropdown-menu'>
            <li><button class='dropdown-item dropdown-email-item' type='button' data-bs-toggle='modal' data-bs-target='#email-modal' data-nxt-email>Send Email</button></li>
            <li><hr class='dropdown-divider'></li>
            <li><button class='text-danger dropdown-item dropdown-delete-item' type='button' data-nxt-id data-action='destroy#destroyByValue'>Delete</button></li>
          </ul>
        </div>
      </div>
        <div class ='col-md-1' id="guest-action"><button class='btn btn-primary' type='button' data-nxt-id data-action='guest#view_guest_seats' >View Seats </button></div>
    </form>
  </template>

   
      <div class="cont-new" id = "guest-disp">
       <div class="guest-disp" ><h6 id="guest-name"> </h6> </div>
        <table class="table table-striped table-hover" width = 300px>
          <thead>
            <tr>
              <%# <th>ID</th>
              <th>Guest ID</th> %>
              <th width=199.8> Category</th>
              <th width=199.8> Allotted</th>
              <th width=199.8> Committed</th>
            </tr>
          </thead>
          <tbody id="data-check" type = "text" data-action='guest#view_guest_seats' data-guest-target='guest'>

          </tbody>
        </table>
      </div>
    
  <div class='d-flex paginate-number'  data-guest-target='maxcount'>
    <div><span data-nxt-maxcount></span></div>
    <div><button class='paginate-button' data-action="guest#decrementOffset guest#query"><i class="arrow left"></i></button></div>
    <div><button class='paginate-button' data-action="guest#incrementOffset guest#query"><i class="arrow right"></i></button></div>
    <div>
      <label class='me-2' for='size'>Number of records:</label>
      <select id='size' data-guest-target='limit' data-action="guest#updateLimit guest#query">
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="50">50</option>
        <option value="100">100</option>
      </select>
    </div>
  </div>
  <div class="container border-bottom border-dark" data-guest-target='dom'>
    <div class='row align-items-end mb-4 border-bottom border-dark'>
      <div class='col-md-auto'><input class='form-check-input' type='checkbox' name='selectAllGuests' onClick="toggleGuests(this)"></div>
      <div class='col-md-1'><span data-bs-toggle='tooltip' data-bs-placement='top' title='123'>Name</span></div>
      <div class='col-md-1'>Email</div>
      <div class='col-md-1'>Affiliation</div>
      <div class='col-md-1'>Perks</div>
      <div class='col-md-1'>Comments</div>
<!--       <div class='col-md-1'>Added By</div> -->
      <div class='col-md-3'>
        <div class='row'>
          <div class='col-md text-center' style="background-color:#E8E8E8">Seat Arrangement</div>
        </div>
        <div class='row'>
          <div class='col-md text-center' style="background-color:#E8E8E8">Category</div>
          <div class='col-md text-center' style="background-color:#E8E8E8">Allotted</div>
          <div class='col-md text-center' style="background-color:#E8E8E8">Committed</div>
        </div>
      </div>
      <div class='col-md-1'>Guest Committed</div>
      <div class='col-md-1'>Status</div>
      <!--<div class='col-md-1'>Check-in</div>-->
      <%# <div class='col-md-1'></div> %>
    </div>
  </div>
  <div class='container mt-2'>
    <form id='form-add-guest' class='row' data-guest-target='add' data-action='update#sendFromForm'>
      <div class='col'>
        <div class='form-floating'>
          <input id='guest-add-fn' class='form-control' type='text' name='first_name'>
          <label for='guest-add-fn'>First Name</label>
        </div>
      </div>
      <div class='col'>
        <div class='form-floating'>
          <input id='guest-add-ln' class='form-control' type='text' name='last_name'>
          <label for='guest-add-ln'>Last Name</label>
        </div>
      </div>
      <div class='col'>
        <div class='form-floating'>
          <input id='guest-add-email' class='form-control' type='email' name='email'>
          <label for='guest-add-email'>Email</label>
        </div>
      </div>
      <div class='col'>
        <div class='form-floating'>
          <input id='guest-add-aff' class='form-control' type='text' name='affiliation'>
          <label for='guest-add-aff'>Affiliation</label>
        </div>
      </div>
      <div class='col'>
        <div class='form-floating'>
          <input id='guest-add-perks' class='form-control' type='text' name='perks'>
          <label for='guest-add-perks'>Perks</label>
        </div>
        </div> 
        <div class='col'>
        <div class='form-floating'>
          <input id='guest-add-comments' class='form-control' type='text' name='comments'>
          <label for='guest-add-comments'>Comments</label>
        </div>
       </div> 
      <div class='col'><button class='btn btn-success h-100' form='form-add-guest'><i class='bi bi-plus'></i>Add Guest</button></div>
    </form>
  </div>
</div>

<script>
function toggleGuests(source) {
  checkboxes = document.getElementsByName('guest_selector');
  for(var i=0, n=checkboxes.length;i<n;i++) {
    checkboxes[i].checked = source.checked;
  }
}
</script>
