<div id='referral' data-controller='index update destroy dynamic'
    data-index-url-value="/api/v1/events/<%= @event_id %>/rewards"
    data-update-url-value="/api/v1/events/<%= @event_id %>/rewards"
    data-destroy-url-value="/api/v1/events/<%= @event_id %>/rewards"
    data-index-offset-value=0 data-index-limit-value=25>
  <template id='templ-referral-form' data-index-target='template' data-update-target='template'>
    <div class='row' data-controller='dynamic'>
      <form data-action='change->update#sendFromForm change->index#requery'
          data-index-fields-param='["n_guest"]' data-update-fields-param='["reward", "min_count"]'>
        <div class='col-1 mt-1 mb-1'><button class='btn btn-sm btn-danger id' data-action='destroy#destroyByValue dynamic#destroy'><i class='bi bi-dash-lg'></i></button></div>
        <div class='col-sm-auto mt-1 mb-1'><input class='d-inline reward input-sm' type='text'></div>
        <div class='col-sm-auto mt-1 mb-1'><input class='min_count input-sm text-end' type='number' min=0></div>
        <div class='col-sm-auto mt-1 mb-1'><span class='n_guest'></span></div>
      </form>
    </div>
  </template>
  <div class='container'>
    <div class='row'>
      <div class='col'>
        <p class='h5'>Reward</p>
      </div>
      <div class='col'>
        <p class='h5'>Minimum referrals</p>
      </div>
      <div class='col'>
        <p class='h5'>Qualifying Guests</p>
      </div>
    </div>
    <div id='rewards-list' data-index-target='dom' data-update-target='dom'></div>
    <div class='row'>
      <div class='col-sm-auto'>
        <button class='btn btn-success' data-action='dynamic#addFromTemplate'
            data-dynamic-templateId-param='templ-referral-form' data-dynamic-targetId-param='rewards-list'>
          <i class='bi bi-plus'></i>Add
        </button>
      </div>
    </div>
  </div>
</div>