<div id='referral-table' data-controller='index update'
    data-index-url-value='/api/v1/events/<%= @event_id %>/referral_summary'
    data-update-url-value='/api/v1/events/<%= @event_id %>/referral_summary'
    data-index-limit-offset=0 data-index-limit-value=25>
<!--  <form id='form-reward' class='d-flex flex-row justify-content-between' data-action='update#sendFromForm'>
  	<div class='col'>
        <div class='form-floating'>
  		<input class='form-control' id='reward' type='number' name='reward' value=10>
  		<label for='reward'>Referral Percentage _%?</label>
  	</div>
  	</div>
  	<span class="ms-2 me-2"></span>
  	<div class='col'><button class='btn btn-sm btn-success h-100' form='form-reward' ><i class='bi bi-plus'></i>Update Rewards</button></div>
  </form> -->
  <br>

  <template data-index-target='template'>
    <tr>
    
      <td><span data-nxt-email></span></td>
      <td><span data-nxt-first_name></span> <span data-nxt-last_name></span></td>
      <td><span data-nxt-referred_email></span></td>
      <td><span data-nxt-status></span></td>
      <td><span data-nxt-tickets></span></td>
      <td><span data-nxt-amount></span></td>
      <td>
      <form id='form-reward' class='d-flex flex-row justify-content-between' data-action='update#sendFromForm'>
      	<select name="reward_type" id="reward_type" data-nxt-reward_type>
	  <option value="reward/ticket">reward/ticket</option>
	  <option value="Reward%">Reward%</option>
	</select>
      

  	<div class='row'>
        <div class='form-floating'>
  		<input class='form-control' id='reward' type='number' name='reward' data-nxt-input> 
  		<label for='reward'>Referral Amount </label>
  		
  		<input class='form-control' id='guest_email' type='hidden' name='guest_email' data-nxt-email> 
  		<input class='form-control' id='referee' type='hidden' name='referee' data-nxt-referred_email> 
  	</div>
  	</div>
  	<span class="ms-2 me-2"></span>
  	<input type="submit" value="Update Reward">
  	</form> 
      </td>
      <td><span data-nxt-Rewards></span></td>
    
    </tr>
  </template>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Email</th>
        <th>Name</th>
        <th>Referred</th>
        <th>Status</th>
        <th>Tickets</th>
        <th>Amount</th>
        <th>Input Reward</th>
        <th>Rewards</th>
      </tr>
    </thead>
    <tbody data-index-target='dom'>
    </tbody>
  </table>

</div>

